

$colClasses: (main:$colMain,
		mainlight:$colMainLight, error:$colError,
		bgdark:$colBGDark,
		bgmain:$colBGMedium,
		bgwhite:$colWhite,
		bglight:$colBGLight, help:$colHelp);

@each $slug,$col in $colClasses{
	.col-#{$slug}{
		color:$col;
	}
	.bg-#{$slug}{
		background-color:$col;
	}
	.bg-#{$slug}-imp{
		background-color:$col !important;
	}
}

.col-white{
	color: $colWhite;
}
