@import '../../../../sammie/scss/global/variables';
@import '../../../../sammie/scss/global/mixins';
.foci-detection-model{
	min-height: calc(100vh - #{$topBarHeight});

	&.mod-1{
		.polygon-cloud{
			display: none;
		}
	}
	&:not(.show-outlines){
		.polygon-cloud.outline{
			display: none;
		}
	}
	&.mod-2{
		.polygon-cloud.available-foci{
			svg polygon{
				transition: none !important;
				opacity: 1 !important;
			}
		}

	}
	&__box{
		flex-grow: 1;
		h3{
			margin: 0;
			padding-bottom: 10px;
		}
		background-color: $colBGLight;
		.box-row{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			margin-top: 10px;
			span:first-child{
				text-decoration: underline dotted;
				cursor: help;
			}
			span:last-child{
				font-weight: bold;
			}
			&:hover{
				color: $colMain;
			}
		}
	}
}
@import "CellResult";