@import "../global/variables";
@import "../global/mixins";
@import "../global/padding";

.batch-creator{

	input {
		padding: 15px 10px !important;
	}

	&__single-input{

		>*{
			width: 100%;
		}
	}
	&__helptoggle{
		cursor: pointer;
		text-decoration: underline;
		font-weight: bold;
		display: inline-block;
		&:hover{
			color:$colMain;
		}
	}
	.rah-static > div{
		height: 100%;
		box-sizing: border-box;
		@extend .pad-100-bottom;
	}
	&__table-wrapper{
		height: 100%;
	}
}