.display-options {

	&.col-black{
		background-color: black;
		color:$colWhite;
	}

	position: sticky;
	top: 33px;
	z-index: 3;
	background-color: white;
	&__binary{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		> span:first-child{
			line-height: 1;
			padding-right: 12px;
			font-weight: bold;
		}
		&:not(:first-of-type){
			margin-left: 40px;
		}
	}
	&__slider{
		&:not(:first-of-type){
			margin-left: 40px;
		}
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		.MuiSlider-root{
			min-width: 150px;
		}
		> span:first-child{
			line-height: 1;
			padding-right: 12px;
			font-weight: bold;
		}
	}
	&__dropdown{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		span{
			line-height: 1;
			padding-right: 8px;
			font-weight: bold;
		}
	}
	.MuiNativeSelect-root{
		font-size: 14px;
		.MuiNativeSelect-select{
			padding-top: 2px;
			padding-bottom: 2px;
		}
	}
	&__mods {
		.btnicon {
			cursor: help;
			display: inline-block;
			font-size: 11px;
			padding: 4px 10px;
			border-radius: 3px;
			line-height: 1;
			justify-content: center;
			font-weight: bold;
			background: $colBGMedium;
			&.active{
				background: $colMain;
			}
			color: $colWhite;
			margin-left: $defaultPadding/2;
		}
	}
}