.pipeline-switch-screen{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.pipeline-list-entry{
		position: relative;
		max-width: 700px;
		border-radius: 4px;
		overflow: hidden;
		&.is-grouped{
			.pipeline-list-entry__thumb{
				border-bottom-left-radius: 0;
			}

		}
		&__text{
			h2{
				margin-top: 0;
			}
			height: auto;
			display: flex;
			flex-direction: column;
		}
		&__group-selection{
			//border-bottom-right-radius: $defBorderRadius;
			//border-bottom-left-radius: $defBorderRadius;
			font-size: 12px;
			background: $colBGDark;
			color:$colWhite;
			.desc{
				opacity: .3;
			}
			padding-top: 2px;
			.homolog{
				cursor: pointer;
				transition: all 0.2s;
				opacity: .4;
				align-self: stretch;
				height: auto;
				&:hover{
					opacity: 1;
				}
				&.active{
					font-weight: bold;
					opacity: 1;
					color: $colMain;
					background-color: $colBGLight;
					border-top-left-radius: $defBorderRadiusInner;
					border-top-right-radius: $defBorderRadiusInner;
				}
			}
		}
		&__thumb{
			overflow: hidden;
			min-width: 250px;
			line-height: 0;
			border-top-left-radius: $defBorderRadius;
			border-bottom-left-radius: $defBorderRadius;
		}
	}
}