.foci-detection{

	.hint{
		max-width: 700px;
	}

	&.hide-foci{
		.polygon-cloud,.ellipse-cloud{
			display: none !important;
		}
	}
	&.is-running{
		pointer-events: none;
		opacity: 0.6;
	}
	.grid{
		margin-left: 0;
		margin-right: 0;
		background: black;
	}
	.legend{
		top:50px;
		z-index: 10;
		position: sticky;
		color: white;
		line-height: 1;
		strong{
			margin-right: 30px;
		}
		$colAcc: #00e800;
		$colRej: #ff0000;
		$colDim: #FFA500;
		$colDrf: #ff00ff;

		span{
			margin-right: 5px;
			display: inline-block;
			width: 16px;
			height: 16px;
			border-radius: 50%;
			&.acc{
				background-color: rgba($colAcc,0.7);
				border: 2px solid $colAcc;
			}
			&.man{
				background-color: rgba($colRej,0.7);
				border: 2px solid $colRej;
			}
			&.dim{
				background-color: rgba($colDim,0.7);
				border: 2px solid $colDim;
			}
			&.bgr{
				background-color: rgba($colDrf,0.7);
				border: 2px solid $colDrf;
			}
		}
	}
}
@import "SingleCell";
@import "SingleCellWithBasins";