@import '../../../../scss/global/variables';

.single-cell-with-basins {
	.del-btn{
		cursor: pointer;
		opacity: 0.8;
		transition: all .3s;
		&:hover{
			transform: scale(1.1);
			opacity: 1;
		}
	}

	&--is-deleted{
		.polygon-cloud{
			display: none !important;
		}
		.btn-container{

			span, .el-info, .btn {
				display: none !important;
			}
		}
		background: rgba(red,0.1);
		img{
			filter: blur(5px);
			opacity: 0.6;
		}
	}
	img{
		transition: all .3s;
	}
	background-color: black;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;

	.rej-foci{
		display: none;
	}

	.el-info{
		margin-top: -10px;
		margin-bottom: -10px;
		display: none;
		text-align: right;
		font-size: 12px;
	}
	&:hover {
		.rej-foci {
			display: block;
		}
		.el-info{
			display: block;
		}
	}

	width: 100%;

	.polygon-cloud {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
	}

	img {
		width: 100%;
	}

	.rel {
		line-height: 0;
	}

	.btn-container {
		margin-top: 15px;
		display: flex;
		flex-direction: row;
		align-items: center;
		border-top: 1px solid gray;
		color: white;
		padding: 10px;

		.btn {
			user-select: none;
			margin-left: 5px;
			text-align: center;
			width: 20px;
			height: 20px;
			box-sizing: border-box;
			font-weight: bold;
			cursor: pointer;
			border-radius: 50%;
			border: 2px solid $colBlack;
			line-height: 1.2;

			&:hover {
				color: $colWhite;
				background: $colBGMedium;
			}
		}
	}
}