.ellipse-cloud{
	position: relative;
	overflow: hidden;
	pointer-events: none;
	user-select: none;
	background-color: transparent;
	svg{
		polygon{
			fill: #FF7F50;
		}
	}
	>div{
		pointer-events: all;
		position: absolute;
		border-radius: 50%;
		color: white;
		&:hover{
			filter: brightness(2);
			background-color: transparent !important;
		}
	}
	//FILLS
	&:not(.ellipse-cloud--filled) > div{
		background-color: transparent !important;
	}
	&--outlined > div{
		border-style: solid;
	}

}