.param-help-btn{
	background-color: $colHelp;
	width: 18px;
	height: 18px;
	border-radius: 2px;
	font-size: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	line-height: 1;
	color: $colWhite;
	cursor: pointer;
	align-self: center;
	&:hover{
		background: $colBGMedium;
	}


}
.MuiTooltip-tooltip{
	box-shadow: 0 0 8px rgba(black,0.1) !important;
	padding: 10px !important;
	background-color: $colHelp !important;
	font-size: 12px !important;
	.MuiTooltip-arrow:before{
		background-color: $colHelp !important;
	}
	a{
		color: $colWhite !important;
		font-weight: bold;
	}
	em{
		color: inherit !important;
		font-weight: bold;
	}
	ul{
		padding-left: 15px;
	}
}
.MuiTooltip-arrow:before{
	background-color: $colBGMedium !important;
}