.polygon-cloud{
	position: relative;
	overflow: hidden;
	pointer-events: none;
	user-select: none;
	background-color: transparent;

	svg{
		@include stick-to($fix-all);
		width: 100%;
		height: 100%;
		transform-origin: top left;
		polygon{
			pointer-events: all;
			vector-effect:non-scaling-stroke;
		}
	}
}