
@import '../../../../sammie/scss/global/variables';
@import '../../../../sammie/scss/global/mixins';

.flex-bin-chart{
	margin: auto;
	//max-width: 800px;
	min-height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	.recharts-responsive-container{
		flex-grow: 1;
	}
	h3{
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
	}
	&__nodata{
		opacity:  .2;
		background-color: $colMainLight;
		text-align: center;
		div{
			font-size: 30px;
			font-weight: bold;
		}
	}
	&__title-img{
		max-height: 30px;
		margin-right: 20px;
	}
	&__title{
		line-height: 1;
		h3{
			padding-left: 36px !important;
			white-space: nowrap;
			margin-top: 0;
		}
		.lbl{
			font-size: 12px;
			margin-right: 20px;
		}

		.MuiSlider-root{
			padding: 0;
			max-width: 200px;
		}
	}
	.custom-tooltip{
		background-color: $colBGMedium;
		color: $colWhite;
		padding:15px;
		border-radius: 4px;
	}

	.xaxis-lbl{
		text-align: center;
		font-weight:bold;
	}
	//.recharts-text.recharts-label{
	//	transform: translateY(30px);
	//}
}
