@import '../../../../sammie/scss/global/variables';
@import '../../../../sammie/scss/global/mixins';

.scatter-chart {
	h3 {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
	}
	.scatter-plot-container{
		height: 500px !important;
	}
	.yaxis-lbl-container{
		width: 20px;
		padding-top: 30px;
		font-weight:bold;
		writing-mode: vertical-lr;
		text-orientation: sideways;
		text-align: center;
		transform: rotate(-180deg);
		transform-origin: center center;
	}
	.xaxis-lbl{
		text-align: center;
		font-weight:bold;
	}
	.custom-tooltip{
		background-color: $colBGMedium;
		color: $colWhite;
		padding:15px;
		border-radius: 4px;
		div > span{
			opacity: 0.6;
		}
	}
}