$colWhite: #ffffff;
$colGray: #999;
$colBlack: #2D3848;


$colBGLight: #E2E8F0;
$colBGMedium: #4A5568;
$colBGDark: #262C36;

$colBGHover: lighten(#4A5568,2);

$colHelp: #91a9cc;
$colMainLight: #EFC1B5;
$colMain: #FF7F50;
$colError: #f1541a;
$colSuccess: #729753;

$maxContainerWidth: 1400px;
$maxContainerWidthNarrow: 800px;

$sideMenuWidthOpen: 250px;
$sideMenuWidthClosed: 50px;
$parameterBarWidth: 300px;
$topBarHeight: 33px;
$footerHeight: 40px;