@import "../../global/variables";
@import "../../global/mixins";

.data-batch{
	border-radius: 4px;
	transition: height 1s;
	//overflow: hidden;
	&__title{
		border-bottom: 1px solid $colWhite;
	}
	position: relative;
	&__active-indicator{
		div{
			transform: rotate(-90deg) translateY(-25px);
			transform-origin: top right;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 16px;
			color: $colSuccess;
		}

		border-right: 8px solid $colSuccess;
		@include stick-to($fix-left);

		transform: translateX(calc(-100% - 5px));
	}

	&.active-batch{
		//border: 3px solid $colSuccess;

		span.text-title, span.text-processing{
			color: darken($colSuccess,10);
		}
		//border: 3px solid red;
	}

	.sep{
		background-color: $colWhite;
		width: 1px;
		align-self: stretch;
	}

	&__action{
		display: flex;
		flex-direction: column;
		justify-content: center;
		&:not(.disabled){
			cursor: pointer;
			&:hover{
				path{
					//stroke: $colError;
					fill: $colError;
				}
			}
		}
		&.disabled{
			opacity: .4;
		}
	}
}